{% extends 'base.html' %}
{% load static %}
{% block content %}

<html>
<head>
<title>Devops Python</title>
</head>

<body>
<p>

<h1> Welcome to Jenkins page</h1> 	

</p>	

<p>

<div class="card" style="width: 18rem;">
  <img src="{%static 'images/useradd.PNG' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">USERADD</h5>
    <p class="card-text">please click below to add user in jenkins</p>
    <a href="https://symantec.service-now.com/ssp/catalog.do?uri=com.glideapp.servicecatalog_cat_item_view.do%3Fsysparm_id%3D398e4917db186f8043961c946896190e%26sysparm_processing_hint%3D&sysparm_document_key=sc_cat_item,398e4917db186f8043961c946896190e&sysparm_parent=" class="btn btn-primary">CLICK HERE</a>
  </div>
</div>
</p>

</body>

</html>
{% endblock %}

